name: mirrorchyan

on:
  workflow_dispatch:
    inputs:
      tag:
        description: '目标版本号'
        required: true
        type: string

jobs:
  mirrorchyan:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        os: [win, macos, linux]
        arch: [aarch64, x86_64]
    steps:
      - id: uploading
        uses: MirrorChyan/uploading-action@v1
        with:
          filetype: latest-release
          tag: ${{ inputs.tag }}
          filename: "MFABD2-*-win-x86_64.zip"

          mirrorchyan_rid: MFABD2

          owner: sunyink
          repo: MFABD2
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          os: ${{ matrix.os }}
          arch: ${{ matrix.arch }}

  mirrorchyan_res:
    runs-on: macos-latest
    steps:
      - id: uploading
        uses: MirrorChyan/uploading-action@v1
        with:
          filetype: latest-release
          tag: ${{ inputs.tag }}
          filename: "MFABD2-*-win-x86_64.zip"
          pick_files: '["resource", "interface.json"]'
          # 截止3.1.0，MFAA有时对热更新，错误地进行全量更新操作，删除ocr并从希望热更新包寻找替代。暂时将ocr模型打包到热更新包中，避免用户反复重下全量包。
          # exclude_files: '["resource/model/ocr/**"]'

          mirrorchyan_rid: MFABD2

          owner: sunyink
          repo: MFABD2
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
          github_token: ${{ secrets.GITHUB_TOKEN }}