name: mirrorchyan_release_note

on:
  workflow_dispatch:
    inputs:
      tag:
        description: '目标版本号'
        required: true
        type: string
      body:
        description: '更新内容'
        required: true
        type: string
  release:
    types: [edited]

jobs:
  mirrorchyan:
    runs-on: macos-latest

    steps:
      - id: uploading
        uses: MirrorChyan/release-note-action@v1
        with:
          mirrorchyan_rid: MFABD2
          version_name: ${{ inputs.tag }}
          release_note: ${{ inputs.body }}

          owner: sunyink
          repo: MFABD2
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
          github_token: ${{ secrets.GITHUB_TOKEN }}