name: mirrorchyan_release_note

on:
  workflow_dispatch:
    inputs:
      target_version:
        description: '目标版本号'
        required: true
        type: string
  release:
    types: [edited]

jobs:
  mirrorchyan:
    runs-on: macos-latest

    steps:
      - id: uploading
        uses: MirrorChyan/release-note-action@v1
        with:
          mirrorchyan_rid: MFABD2

          owner: sunyink
          repo: MFABD2
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
          github_token: ${{ secrets.GITHUB_TOKEN }}